.App {
  /* this is entire webpage basically */
  text-align: center;
}

* {
  /* everything here is applied to all elements as a default */
  /* font-family:Arial, Helvetica, sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color:midnightblue;
  margin: 0;
  padding: 0;
  /* made all the padding and margin 0, to allow for custom design */
  scroll-behavior: smooth;
}

button:hover {
  /* when mouse is over any button, change background slightly */
  background-color: #eee;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  /* to do with the react logo (atom icon) */
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-main {
  background: whitesmoke;
  color: black;
  background: url("scott-webb-unsplash.jpg");
  background-size:cover;
  background-repeat: repeat-y;
  min-height: 100vh;
  font-size: calc(10px + 1.5vmin);
}

section {
  height: 100vh; /* each section occupies entireity of window */
  width:100%;
  display: flex; /* flexible container */
  flex-direction: column; /* lay out content in column format */
  justify-content: center; /* center on y-axis */
  align-items: center; /* center on x-axis */
}

.results-section {
  justify-content: flex-start;
  /* items are packed from the beginning of the flex container, so that when mapboxes are expanded, 
     items are only pushed down, and not up which makes sections overlap 
  */
}

.results-section h3 {
  margin-top: 10vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#scenarios {
  display: flex;
}

#scenarios * {
  margin-left: 5vh;
  margin-right: 5vh;
  margin-top: 0;
  margin-bottom: 0;
}

.nav-header {
  all: unset; /* remove all pre-existing CSS attributes */
  font-size: 1.25rem;
}
nav {
  width:100%; /* cover entire width of screen */
  position: fixed; /* keep the nav bar at the top */
  background: white;
  height: 60px;
}
.navbar {
  height: 100%; /* this means the height of the navbar div will take up 100% of space of the nav element (which encloses the navbar div */
  display: flex;
  justify-content: space-between;
  padding: 0 1rem; /* top & bottom    left & right */
  /* note _rem is a relative measurement (relative to default overall document font size = 16px). */
  /* 2rem = 2*rem px */
  align-items: center;
}
.nav-links {
  width: 30%;
}
.nav-links ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
}
.nav-links a {
  text-decoration: none;
  cursor: pointer;
}
.navbar * {
  color:black;
  font-weight:100;
  font-size: 20px;
}

button {
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.11) 0px 4px 6px, rgba(0, 0, 0, 0.08) 0px 1px 3px;
  width: 180px;
  height: 50px;
  border-color:lightsteelblue;
  border-width: 1px;
  border-style: solid;
  color: cornflowerblue !important;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  font-weight:500;
  margin-bottom: 25px;
  cursor: pointer;
}


.team-list-wrapper ul p {
  /* only applies to <ul> and <p> */
  font-size: 19px;
  ;
}
.team-list-wrapper h4 {
  /* only applies to <h4> tags within class="team-list-wrapper" */
  font-size: 23px;
  margin-top: 20px
}

.map-container {
  height: 90vh;
  width: 90vw;
}

.home-section h1 {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.home-section img {
  margin-bottom: 10px;
  width: 80px;
  height: 80px;
}

.map-box-wrapper p {
  font-size: 15px;
}